#!/usr/bin/make -f

DISTRIBUTION = $(shell lsb_release -sc)
VERSION = 2.6.1
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0+exo1
JAR = leiningen-$(VERSION)-standalone.zip
URL1 = https://github.com/technomancy/leiningen/releases/download/$(VERSION)/$(JAR)
URL2 = https://github.com/technomancy/leiningen/archive/$(VERSION).tar.gz

%:
	dh $@

override_dh_auto_clean:
	wget -nc --progress=dot:mega $(URL1)
	wget -nc --progress=dot:mega $(URL2)

override_dh_auto_install:
	tar --strip-components=1 -xf $(VERSION).tar.gz
	mkdir -p debian/leiningen/usr/share/java debian/leiningen/usr/bin
	cp $(JAR) debian/leiningen/usr/share/java/$(JAR:%.zip=%.jar)
	cp bin/lein-pkg debian/leiningen/usr/bin/lein

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
